<!-- Desktop -->
<div *ngIf="!this.mobile">
    <mat-toolbar style="background: linear-gradient(0.25turn, #ffffff, #fec809)">
        <mat-toolbar-row>
            <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
                <div fxFlex="20" style="margin-top: 10px">
                    <img src="assets/imgs/icon.png" style="padding-left: 20px; max-height: 50px" />
                    <span style="padding-left: 30px; margin-bottom: 10px; color: #1E1A31; font: inherit"> Leap Performance Analysis Engine</span>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
