<!-- Desktop -->
<div *ngIf="!this.mobile">
    <mat-toolbar style="background: linear-gradient(0.25turn, #e16b50, #EF370D)">
        <mat-toolbar-row>
            <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
                <div fxFlex="20" style="margin-top: 10px">
                    <img src="assets/imgs/icon.png" style="padding-left: 20px; max-height: 50px" />
                    <img src="assets/imgs/leaplogo.png" style="padding-left: 20px; max-height: 50px" />
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
