<ngx-spinner bdColor="rgba(156,121,215,0.4)" size="large" color="#fff" type="square-jelly-box" fullScreen="false">
    <p style="font-size: 25px; color: white; font-weight: bolder">Loading...</p>
</ngx-spinner>

<div *ngIf="!this.loggedIn">
    <mat-card>
        <div style="text-align: center">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="this.email" />
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="this.password" />
                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
        </div>
        <div mat-dialog-actions style="text-align: center">
            <button mat-raised-button color="primary" (click)="onLogin()" cdkFocusInitial>Login</button>
        </div>
    </mat-card>
</div>

<div *ngIf="this.loggedIn">
    <div fxflex fxLayout="column" fxLayoutAlign="center space-between" fxLayoutGap="20px" style="margin-bottom: 5px">
        <div fxFlex="50">
            <div
                fxflex
                fxLayout="row"
                fxLayoutAlign="start end"
                fxLayoutGap="20px"
                style="margin-bottom: 5px"
            >
                <div fxFlex="25">
                    <mat-card>
                        <canvas
                            baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [chartType]="barChartType"
                            [height]="350"
                        >
                        </canvas>
                    </mat-card>
                </div>
                <div fxFlex="75">
                    <mat-card>
                        <canvas
                            baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [chartType]="barChartType"
                            [height]="350"
                        >
                        </canvas>
                    </mat-card>
                </div>
            </div>
        </div>

        <div fxFlex="30">
            <div
                fxflex
                fxLayout="row"
                fxLayoutAlign="start end"
                fxLayoutGap="20px"
                style="margin-bottom: 5px"
            >
                <div fxFlex="30">
                    <mat-card>
                        <canvas
                            baseChart
                            [datasets]="pieChartData"
                            [chartType]="pieChartType"
                            [labels]="pieChartLabels"
                            [height]="200"
                        >
                        </canvas>
                    </mat-card>
                </div>
                <div fxFlex="70">
                    <mat-card>
                        <canvas
                            baseChart
                            [datasets]="activityData"
                            [labels]="activityLabels"
                            [options]="barChartOptions"
                            [chartType]="barChartType"
                            [height]="350"
                        >
                        </canvas>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
