<div *ngIf="!this.loggedIn">
    <mat-card>
        <div style="text-align: center">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="this.email" />
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="this.password" />
                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
        </div>
        <div mat-dialog-actions style="text-align: center">
            <button mat-raised-button color="primary" (click)="onLogin()" cdkFocusInitial>Login</button>
        </div>
    </mat-card>
</div>

<div *ngIf="this.loggedIn">
    <div fxflex fxLayout="column" fxLayoutAlign="center space-between" fxLayoutGap="20px" style="margin-bottom: 5px">
        <div fxFlex="50">
            <div
                fxflex
                fxLayout="row"
                fxLayoutAlign="start end"
                fxLayoutGap="20px"
                style="margin-bottom: 5px"
            >
                <div fxFlex="25">
                    <mat-card>
                        
                        <p>Latest Run </p>
                        <p>Elapsed Time: {{floor(this.latestRun[3])}}:{{this.latestRun[3]%60}} </p>
                        <p>Average Pace: {{pace(this.latestRun[4])}} min/km </p>
                        <p>Distance: {{this.latestRun[2]/1000}}</p>
                        <p>Elevation Gain: {{this.latestRun[5]}} </p>
                        <p>Average HR: {{this.latestRun[8]}} </p>
                        <p>Max HR: {{this.latestRun[7]}} </p>
                    </mat-card>
                </div>
                <div fxFlex="25">
                    <mat-card>
                        <p>2km PR </p>
                        <p>Elapsed Time: {{floor(this.pr2k[3])}}:{{this.pr2k[3]%60}}</p>
                        <p>Average Pace: {{pace(this.pr2k[4])}} min/km </p>
                        <p>Distance: {{this.pr2k[2]/1000}}</p>
                        <p>Elevation Gain: {{this.pr2k[5]}} </p>
                        <p>Average HR: {{this.pr2k[8]}} </p>
                        <p>Max HR: {{this.pr2k[7]}} </p>
                    </mat-card>
                </div>
                <div fxFlex="25">
                    <mat-card>
                        <p>5km PR </p>
                        <p>Elapsed Time: {{floor(this.pr5k[3])}}:{{this.pr5k[3]%60}} </p>
                        <p>Average Pace: {{pace(this.pr5k[4])}} min/km </p>
                        <p>Distance: {{this.pr5k[2]/1000}}</p>
                        <p>Elevation Gain: {{this.pr5k[5]}} </p>
                        <p>Average HR: {{this.pr5k[8]}} </p>
                        <p>Max HR: {{this.pr5k[7]}} </p>
                    </mat-card>
                </div>
                <div fxFlex="25">
                    <mat-card>
                        <p>10km PR </p>
                        <p>Elapsed Time: {{floor(this.pr10k[3])}}:{{this.pr10k[3]%60}}</p>
                        <p>Average Pace: {{pace(this.pr10k[4])}} min/km </p>
                        <p>Distance: {{this.pr10k[2]/1000}}</p>
                        <p>Elevation Gain: {{this.pr10k[5]}} </p>
                        <p>Average HR: {{this.pr10k[8]}} </p>
                        <p>Max HR: {{this.pr10k[7]}} </p>
                    </mat-card>
                </div>
            </div>
        </div>

        <div fxFlex="30">
            <div
                fxflex
                fxLayout="row"
                fxLayoutAlign="start end"
                fxLayoutGap="20px"
                style="margin-bottom: 5px"
            >
                <div fxFlex="30">
                    <mat-card>
                        <canvas
                            baseChart
                            [datasets]="pieChartData"
                            [chartType]="pieChartType"
                            [labels]="pieChartLabels"
                            [height]="200"
                        >
                        </canvas>
                    </mat-card>
                </div>
                <div fxFlex="70">
                    <mat-card>
                        <canvas
                            baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [chartType]="barChartType"
                            [height]="350"
                        >
                        </canvas>
                    </mat-card>
                </div>
            </div>
        </div>
        <div>
            <mat-card>
                <canvas
                    baseChart
                    [datasets]="distanceChartData"
                    [labels]="distanceChartLabels"
                    [options]="barChartOptions"
                    [chartType]="barChartType"
                    [height]="350"
                >
                </canvas>
            </mat-card>
        </div>
    </div>
</div>
